<div class="home">
    <h2>{{message}}</h2>

    {{!-- Si l'utilisateur est connecté --}}
    {{#if username}}
        <p>Bienvenue, {{username}} !</p>
        <a href="/account">
            <button class="btn-primary">Mon compte</button>
        </a>
        <a href="/logout">
            <button class="btn-secondary">Se déconnecter</button>
        </a>
    {{!-- Si l'utilisateur n'est pas connecté --}}
    {{else}}
        <a href="/login">
            <button class="btn-secondary">Se connecter</button>
        </a>
        <a href="/create-user">
            <button class="btn-secondary">S'inscrire</button>
        </a>
    {{/if}}

    <h2>Nos Annonces</h2> <!-- Modifié de "Nos Annonces" à "Nos Éléments" -->
    <ul>
    {{#each elements}} <!-- Modifié de "annonces" à "elements" -->
        <li>
            <h3>{{titre}}</h3> <!-- Titre de l'élément -->
            <p>{{description}}</p> <!-- Description de l'élément -->
            <p>Prix : {{prix}} €</p> <!-- Prix de l'élément -->
            <p>Superficie : {{superficie}} m²</p> <!-- Superficie de l'élément -->
            <p>Chambres : {{chambres}}</p> <!-- Nombre de chambres -->
            <p>Adresse : {{adresse}}</p> <!-- Adresse de l'élément -->
            <p>Date de publication : {{datePublication}}</p> <!-- Date de publication -->
        </li>
    {{/each}}
    </ul>
</div>
